<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cek Ganjil Genap</title>
</head>
    {% block content %}

    {% endblock %}
</body>
</html>
