{% extends 'basic.html' %}

{% block content %}

<h1>Cek Ganjil/Genap</h1>
<form action="cek" method="POST">
    {% csrf_token %}

    Masukkan nilai A: <input type="text" name="num1"><br><br>
    Masukkan nilai B: <input type="text" name="num2"><br><br>
    <input type="submit">
</form>

{% endblock %}
