{% extends 'base.html' %}

{% block content %}

<h1>Kalkulator sederhana</h1>
<form action="calc" method="POST">
    {% csrf_token %}

    Kalkulator : <input type="text" name="input"> <br>
    Output : <b>{{result}}</b><br><br>
    <input type="submit">
</form>

{% endblock %}
