{% extends 'basic.html' %}

{% block content %}

<h1>Cek Huruf Vokal</h1>
<form action="cek" method="POST">
    {% csrf_token %}

    Masukkan sebuah kalimat : <input type="text" name="text"><br><br>
    <input type="submit">
</form>

{% endblock %}
